
<button [style.float]="'right'" mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
</button>

<div class="draggableElementsContainer">

    <div *ngFor="let groupItem of draggableElements" class="draggableElementsGroup">
        <div class="draggableElementsGroup_inside">

            <h3>{{groupItem.label}}</h3>

            <div *ngFor="let item of groupItem.items" draggable="true" (dragstart)="dragStart($event, item.key)"
                 class="draggableElementsItem">
                {{ item.label }}
            </div>

            <div class="draggableClear"></div>

        </div>

    </div>

    <div class="draggableClear"></div>

</div>


