<button [style.float]="'right'" mat-button mat-dialog-close="">
    <mat-icon>close</mat-icon>
</button>

<div class="draggableElementsContainer">

    <div *ngFor="let groupItem of draggableElements" class="draggableElementsGroup">
        <div class="draggableElementsGroup_inside">

            <h3>{{groupItem.label}}</h3>

            <mat-chip-listbox>

                <mat-chip *ngFor="let item of groupItem.items" draggable="true"
                          (dragstart)="dragStart($event, item.key)" class="draggableChip" color="accent" selected>
                    {{ item.label }}
                </mat-chip>

            </mat-chip-listbox>

            <div class="draggableClear"></div>

        </div>

    </div>

    <div class="draggableClear"></div>

</div>


