<div>
    <mat-form-field>
        <mat-select [(value)]="deviceselect">
            <mat-option [value]="'desktop'">Desktop</mat-option>
            <mat-option [value]="'tablet'">Tablet</mat-option>
            <mat-option [value]="'tablet_landscape'">Tablet landscape</mat-option>
            <mat-option [value]="'phone'">Phone</mat-option>
            <mat-option [value]="'phone_landscape'">Phone landscape</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="setDevice()">
        <mat-icon>important_devices</mat-icon>
    </button>
    &nbsp;|&nbsp;
    <span>{{framecontainerDimension}}</span>
    &nbsp;|&nbsp;
    <mat-form-field>
        <input [(ngModel)]="frameUrlContent" matInput>
    </mat-form-field>
    <button mat-button (click)="reloadIframeWithCondition()">
        <mat-icon>refresh</mat-icon>
    </button>
</div>
<div #alpdeskfeeframecontainer [style.resize]="'both'" [style.overflow]="'auto'" [style.maxWid]="'100%'" [style.border]="'1px solid #d0d0d2'"
    [style.backgroundColor]="'#ffffff'" [style.height]="framecontainerInitHeightString">
    <iframe #alpdeskfeeframe [src]="url" width="100%" height="100%" (load)="iframeLoad()" frameborder="0"></iframe>
</div>
<div #alpdeskfeeframespinner [style.position]="'absolute'" [style.top]="'0px'" [style.left]="'0px'"
    [style.width]="'100%'" [style.height]="'100%'" [style.opacity]="'1'" [style.textAlign]="'center'" [style.display]="'none'">
    <mat-spinner [style.position]="'absolute'" [style.top]="'50%'" [style.left]="'50%'" [style.transform]="'translate(-50%, -50%)'"></mat-spinner>
</div>