@use '~@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

@include mat.core();

/* ======== Angular material custom themes ======== */

body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
}

.elementsDialog .mat-dialog-container  {
    padding: 0px;
}

$custom-typography: mat.define-typography-config(
    $font-family:
        '-apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;',
);
@include mat.core($custom-typography);

$alpdesktheme-primary: mat.define-palette(mat.$deep-orange-palette);
$alpdesktheme-accent: mat.define-palette(mat.$grey-palette, 100, 500, A100);
$alpdesktheme-warn: mat.define-palette(mat.$red-palette);

$alpdesktheme: mat.define-light-theme($alpdesktheme-primary, $alpdesktheme-accent, $alpdesktheme-warn);

@include mat.all-component-themes($alpdesktheme);
