@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

/* ======== Angular material custom themes ======== */

body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
        sans-serif;
}

.elementsDialog .mat-dialog-container  {
    padding: 0;
}

$custom-typography: mat.define-legacy-typography-config(
    $font-family:
        '-apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;',
);
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($custom-typography);`
@include mat.all-legacy-component-typographies($custom-typography);
@include mat.legacy-core();

$alpdesktheme-primary: mat.define-palette(mat.$deep-orange-palette);
$alpdesktheme-accent: mat.define-palette(mat.$grey-palette, 100, 500, A100);
$alpdesktheme-warn: mat.define-palette(mat.$red-palette);

$alpdesktheme: mat.define-light-theme($alpdesktheme-primary, $alpdesktheme-accent, $alpdesktheme-warn);

@include mat.all-legacy-component-themes($alpdesktheme);
